<li> <a href="http://www.huiyihuiying.com/news/15/">关于我们</a> </li>
                    <li><a href="http://www.huiyihuiying.com/news/18/">优惠活动</a>
                       <!-- <div>
                            <a href="#">小栏目1</a>
                            <a href="#">小栏目2</a>
                            <a href="#">小栏目3</a>

                        </div>-->
                    </li>
                    <li><a href="http://www.huiyihuiying.com/news/3/">慧影学堂</a>
                        <div>
                            
                            <a href="http://www.huiyihuiying.com/news/11/">名师指导</a>
							
                            <a href="http://www.huiyihuiying.com/news/12/">案例分享</a>
							
                            <a href="http://www.huiyihuiying.com/news/13/">基层之声</a>
							
                        </div>
                    </li>
                    <li><a href="http://www.huiyihuiying.com/news/2/">患者之家</a>
                        <div>
                            
                            <a href="http://www.huiyihuiying.com/news/7/">我的故事</a>
							
                            <a href="http://www.huiyihuiying.com/news/9/">科普分享</a>
							
                            <a href="http://www.huiyihuiying.com/news/10/">患者之声</a>
							
                        </div>
                    </li>
                    <li><a href="http://www.huiyihuiying.com/article/5/">会诊介绍</a>
                       <!-- <div>
                            <a href="#">小栏目1</a>
                            <a href="#">小栏目2</a>
                            <a href="#">小栏目3</a>

                        </div>-->
                    </li>
                    <li><a href="/hyhy/new/">常见问题</a>
                       <!-- <div>
                            <a href="#">小栏目1</a>
                            <a href="#">小栏目2</a>
                            <a href="#">小栏目3</a>

                        </div>-->
                    </li>
                    
                    
                    
                    
                    
                    
<div class="head clearfix">

            <div class="logo clearfix">

                <h1><a href="/hyhy/index/"><img src="{{STATIC_URL}}images/hyyl_logo_03.gif"></a></h1>

            </div>

            <div class="nav"><a href="index.html#">+</a></div>

            <nav class="clearfix">

<!--

                <ul class="clearfix">

                    

                    <li> <a href="http://123.57.190.226/idoctor/html/login.html" target="_blank">前往影像平台</a> </li>

                </ul>

-->

                <ol class="clearfix">

                    <li> <a href="../15/index.html">关于我们</a> </li>

                    <li><a href="../18/index.html">优惠活动</a>

                       <!-- <div>

                            <a href="#">小栏目1</a>

                            <a href="#">小栏目2</a>

                            <a href="#">小栏目3</a>



                        </div>-->

                    </li>

                    <li><a href="../3/index.html">慧影学堂</a>

                        <div>

                            

                            <a href="../11/index.html">名师指导</a>

							

                            <a href="../12/index.html">案例分享</a>

							

                            <a href="../13/index.html">基层之声</a>

							

                        </div>

                    </li>

                    <li><a href="../2/index.html">患者之家</a>

                        <div>

                            

                            <a href="../7/index.html">我的故事</a>

							

                            <a href="../9/index.html">科普分享</a>

							

                            <a href="../10/index.html">患者之声</a>

							

                        </div>

                    </li>

                    <li><a href="../../article/5/index.html">会诊介绍</a>

                       <!-- <div>

                            <a href="#">小栏目1</a>

                            <a href="#">小栏目2</a>

                            <a href="#">小栏目3</a>



                        </div>-->

                    </li>

                    <li><a href="index.html">常见问题</a>

                       <!-- <div>

                            <a href="#">小栏目1</a>

                            <a href="#">小栏目2</a>

                            <a href="#">小栏目3</a>



                        </div>-->

                    </li>

                </ol>

            </nav>



        </div>
 
 <div class="banner2 clearfix">

				<div class="ban_tu wid clearfix"><img src="{{STATIC_URL}}images/xban.png">

						<div class="tact">

								<h2>静静倾听<br>

										患者的声音</h2>

								<p>倾听患者故事，学习就诊经验<br>

										参考患者对我们的真实看法</p>

								<a href="index.html#dibu">联系我们</a> </div>

				</div>

		</div>


