<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<meta name="viewport" content="width=device-width">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="renderer" content="webkit">
<title>北京找IT培训，就上金源IT培训网！</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Cache-Control" content="no-transform ">
<meta name="baidu-site-verification" content="sQMkDfzlNv">

<script src="{{STATIC_URL}}js/hm.js"></script>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css" media="all">
</head>
<body>
<div id="header">
  <div class="wrap">
    <div class="brand"> <a class="logo" title="金源万博" href="#"><img src="{{STATIC_URL}}images/logo.png" alt="浙江大学家教网"></a>  </div>
    <div class="action"> <a class="btn g" href="#" title="报名">点击报名</a>&nbsp;&nbsp; <a class="btn g" href="#" title="咨询">点击咨询</a> </div>
    <div class="login"> <span class="tell">咨询电话：8365-0488</span> </div>
  </div>
</div>
<!--00-->
<div class="dh">
   <div class="dh1">
   <ul>
   <li><a href="#" title="网站首页">网站首页</a></li>
   <li><a href="#" title="搜索讲师">搜索讲师</a></li>
   <li><a href="#" title="最新学员">最新学员</a></li>
   <li><a title="帮助中心">帮助中心</a>
       <dl>
			<dd>
			<a href="#" title="最新公告">最新公告</a>
			</dd>
			<dd>
			<a href="#" title="家长帮助">家长帮助</a>
			</dd>
            <dd>
			<a href="#" title="课程介绍">课程介绍</a>
			</dd>
      </dl>
   </li>
   <li><a title="学习中心">学习中心</a>
       <dl>
			<dd>
			<a href="#" title="设计学习资料">设计学习资料</a>
			</dd>
			<dd>
			<a href="#" title="PYTHON资料">PYTHON资料</a>
			</dd>
			<dd>
			<a href="#" title="PHP学习资料">PHP学习资料</a>
			</dd>
			<dd>
			<a href="#" title="前端学习资料">前端学习资料</a>
			</dd>
      </dl>

   </li>
   <li><a href="#" title="在线付款">在线付款</a></li>
   <li><a href="#" title="下载APP">联系我们</a></li>
   </ul>
   </div>
</div>
<!--main-->
<div class="masthead">

<!-- 代码 开始 -->

  <div class="flexslider">
	<ul class="slides">
		<li class="flex-active-slide" style="background: transparent url({{ STATIC_URL }}images/562b41a4237b9.jpg) no-repeat scroll 50% 0px; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><a href="#" style="width: 100%; height: 100%; display: block;"></a></li>
<!--
		<li class="" style="background: transparent url(images/562b41abc7c3f.jpg) no-repeat scroll 50% 0px; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="#" style="width: 100%; height: 100%; display: block;"></a></li>
		<li class="" style="background: transparent url(images/562b41afd7d81.jpg) no-repeat scroll 50% 0px; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="#" style="width: 100%; height: 100%; display: block;"></a></li>
-->
</ul></div>

<!-- 代码 结束 -->
</div>


<div class="recom">
  <div class="recom-inner wrap">
    <div>
      <h1 style="float: left;">金源讲师</h1>
      <span style="float: right; padding-right: 40px;"> <a href="#" style="color: rgb(103, 117, 134);">更多讲师 &gt;</a> </span> </div>
    <br>
    <hr>
    <div class="tclist-contains">
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="浙江大学家教-潘自强" src="{{ STATIC_URL }}images/1451285195.jpg"><h2>刘金龙<i></i><span>（python讲师）</span></h2><p class="university">浙江大学</p><p class="tag"><span>专业：茶学</span></p></a>
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="浙江大学家教-何敏" src="{{ STATIC_URL }}images/1450852329.jpeg"><h2>李志广<i></i><span>（php讲师）</span></h2><p class="university">浙江大学</p><p class="tag"><span>专业：化学工程与技术</span></p></a>
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="杭州电子科技大学家教-刘东海" src="{{ STATIC_URL }}images/1450682434.jpg"><h2>李红月<i></i><span>（前端讲师）</span></h2><p class="university">杭州电子科技大学</p><p class="tag"><span>专业：机械工程</span></p></a>
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="浙江大学家教-朱桓正" src="{{ STATIC_URL }}images/1450679231.jpg"><h2>常阳<i></i><span>（php讲师）</span></h2><p class="university">浙江大学</p><p class="tag"><span>专业：光电信息工程</span></p></a>
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="浙江大学家教-韩蓉蓉" src="{{ STATIC_URL }}images/1450678775.png"><h2>张兴国<i></i><span>（数据库讲师）</span></h2><p class="university">浙江大学</p><p class="tag"><span>专业：生物科学</span></p></a>
        <a href="#" class="recom-block" style="text-align: center;"><img class="touxiang" alt="浙江大学家教-丁培霞" src="{{ STATIC_URL }}images/1450678530.jpg"><h2>郑雅琴<i></i><span>（设计讲师）</span></h2><p class="university">浙江大学</p><p class="tag"><span>专业：经济学院</span></p>
        </a>
      </div>
        <div class="clearfix"></div>
  </div>
    <div>
        <form action="" method="post">{% csrf_token %}
            <input style="margin-left: 700px;" type="radio" name="danxuan" value="name">姓名 <input  type="radio" name="danxuan" value="graduatedfrom">院校<input  type="submit" value="查询" style="float: right;color:black;width: 80px;height: 20px;display: block;margin-right: 150px;"/><input type="text"  name="sear" style="float: right;display: block;" />
        </form>
    </div>
    <div class="clearfix"></div>
  <div class="recom-inner wrap">

{% block stu_table  %}{% endblock %}

    <div class="clearfix"></div>
    <!--wenzhangindex-->
<div class="wzindex">

  <div class="wzk">
    <div class="wzktop">
    <span style="color: rgb(255, 255, 255);">最新公告</span> <a style="float: right;" href="http://www.zjujj.com/wzlist.php?type=1">更多</a>
    </div>

    <div class="wzkbd">
    <ul>
     <li><a href="#">金源万博长春分校正式开课</a></li>
     <li><a href="#">热烈庆祝！我校HaDoop培训顺利结束</a></li>
     <li><a href="#">2015年10月Python定制培训圆满成功！</a></li>
    </ul>
    </div>
  </div>

  <div class="wzk">
    <div class="wzktop">
    <span style="color: rgb(255, 255, 255);">近期开班信息</span> <a style="float: right;" href="http://www.zjujj.com/wzlist.php?type=2">更多</a>
    </div>

    <div class="wzkbd">
    <ul>
     <li><a href="#">RHCE+PYTHON（海淀）</a></li>
     <li><a href="#">高级python架构班(丰台）</a></li>
     <li><a href="#">PHP开发脱产班（丰台）</a></li>
     <li><a href="#">Openstack云计算脱产班（海淀）</a></li>
     <li><a href="#">淘宝美工周末班（丰台）</a></li>
     <li><a href="#">JS交互式开发脱产班（丰台）</a></li>
    <li><a href="#">HTML5+CSS3周末班（丰台）</a></li>
    </ul>
    </div>
  </div>

  <div class="wzk">
    <div class="wzktop">
    <span style="color: rgb(255, 255, 255);">最新招聘信息</span> <a style="float: right;" href="#">更多</a>
    </div>

    <div class="wzkbd">
    <ul>
     <li><a href="#">长宇科技招聘python工程师1名</a></li>
     <li><a href="#">安易信科技有限公司招聘python工程师</a></li>
     <li><a href="#">绿盟科技正在火热招web前端工程师</a></li>
     <li><a href="#">美拍招聘PHP开发工程师</a></li>
     <li><a href="#">海报时尚网招聘HTML5+CSS3开发工程师</a></li>
     <li><a href="#">推迅科技招聘PHP工程师</a></li>
    </ul>
    </div>
  </div>
</div>

    <div class="clearfix"></div>

  </div>
</div>


<div id="footer">
  <div class="wrap">
  <a class="logo" href="#" title="金源培训">金源培训</a>

  <p class="links">
  <a href="#" title="关于我们" target="_top">关于我们</a>
  <a href="#" title="联系我们" target="_top">联系我们</a>
  <a href="#" title="就业信息" target="_top">就业信息</a>
  <a href="#" title="金牌讲师" target="_top">金牌讲师</a>
  <a href="#" title="新闻动态" target="_top">新闻动态</a>
  <a href="#" title="WEB前端" target="_top">WEB前端</a>
  <a href="#" title="PHP培训" target="_top">PHP培训</a>
  <a href="#" title="PYTHON培训" target="_top" class="last">PYTHON培训</a>
  </p>
  <p class="copyright">北京金源万博科技有限公司 版权所有,
    <a id="filings" href="http://www.miitbeian.gov.cn/" target="_top">京ICP备08002051号 京公网安备 11010602004562号-1</a>


   </p>
    <div class="sns">
        <a href="#" class="weibo" target="_top" title="名校家教官方微博" rel="nofollow">微博</a>
        <a href="#" class="renren" target="_top" rel="nofollow">微信</a>
        <a href="#" class="qq" target="_top" title="名校家教教员群" rel="nofollow">QQ&lt;</a>
    </div>

  </div>


   <div class="yqlink">
     <a>友情链接：</a>

   </div>
</div>

<!--客服-->
<!--
<div id="floatDivBoxs">
	<div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
           <li style="padding-left: 0px;"><a target="_top" href="http://www.zjujj.com/regStudent.php"><img src="images/dd.png" align="absmiddle">&nbsp;我要请家教</a></li>
            <li style="padding-left: 0px;"><a target="_top" href="tencent://message/?uin=1073678004&amp;Site=www.shenbian100.com&amp;Menu=yes"><img src="images/tel.png" align="absmiddle">&nbsp;4008-606-910</a></li>
        </ul>
       <div style="text-align: center; padding: 5px 0px;"><img src="images/wap_ico.jpg" height="110" width="110"><br>扫一扫 微信请家教</div>
    </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?24ce91a5307f9dad774a97bd77373add";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
-->
</body>
</html>
