<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--监听端口-->
    <add key="ListenPort" value="4050"/>
    <!--服务器IP地址-->
    <add key="MC3HostName" value="192.168.2.102"/>

    <!--业务请求URL-->
    <add key="PostURL" value="http://localhost:9100/service/api/v1/uploaddata"/>

    <!--停车场编号-->
    <add key="Park_ID" value="001323"/>

    <!--秘钥由速宾分配-->
    <add key="Serect" value="866585558226OPKE8EFE9873"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
