

{% extends 'wanshua.tv/1.0/base.php' %}
{% block main %}

    <div class="main-content" id="index-content">
      <div class="content" >

         <div class="friend-links" style="min-height:600px">
            <h2>合作伙伴</h2>
            <ul>

            <li><a target="_blank" href="http://www.anqu.com/" title="安趣网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%AE%89%E8%B6%A3%E7%BD%91.jpg" class="img-responsive" alt="安趣网"></a></li>



              <li><a target="_blank" href="http://www.1688wan.com/" title="1688玩"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/1688%E7%8E%A9.jpg" class="img-responsive" alt="1688玩"></a></li>


              <li><a target="_blank" href="http://www.gao7.com" title="搞趣网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%90%9E%E8%B6%A3%E7%BD%91.jpg" class="img-responsive" alt="搞趣网"></a></li>

              <!-- 没有游讯 -->

              <li><a target="_blank" href="http://yxdown.com" title="游讯"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E8%AE%AF%E7%BD%91.jpg" class="img-responsive" alt="游讯"></a></li>

              <li><a target="_blank" href="http://www.dunwan.com" title="蹲玩"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E8%B9%B2%E7%8E%A9.jpg" class="img-responsive" alt="蹲玩"></a></li>

              <li><a target="_blank" href="http://shouyou.gamersky.com/" title="游民星空"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%B0%91%E6%98%9F%E7%A9%BA.jpg" class="img-responsive" alt="游民星空"></a></li>

              <li><a target="_blank" href="http://www.bufan.com/" title="不凡"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/bufan.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.youxichaguan.com" title="游戏茶馆"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E8%8C%B6%E9%A6%86.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.bianwanjia.com/" title="便玩家"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E4%BE%BF%E7%8E%A9%E5%AE%B6.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有8744 -->
              <li><a target="_blank" href="http://www.aiyou.com/" title="爱游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E7%88%B1%E6%B8%B8.jpg" class="img-responsive" alt="爱游"></a></li>

              <li><a target="_blank" href="http://www.uxiyi.com" title="有蜥蜴游戏"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%9C%89%E8%9C%A5%E8%9C%B4%E6%B8%B8%E6%88%8F%E5%B9%B3%E5%8F%B0.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.66u.com" title="66u"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/66u.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.76ap.com" title="76ap"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/76ap.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.zanba.com" title="赞吧"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E8%B5%9E%E5%90%A7.jpg" class="img-responsive" alt="赞吧"></a></li>

              <li><a target="_blank" href="http://www.d.cn/" title="当乐网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%BD%93%E4%B9%90%E7%BD%91.jpg" class="img-responsive" alt="当乐网"></a></li>

              <li><a target="_blank" href="http://www.gaoshouyou.com/" title="高手游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E9%AB%98%E6%89%8B%E6%B8%B8.jpg" class="img-responsive" alt="高手游"></a></li>

              <!-- 没有 91游戏手游汇 -->
              <li><a target="_blank" href="http://www.pgbee.com/ " title="蜂游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%B3%B0%E6%B8%B8.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.youxikuaiwen.com/" title="游戏快问"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E5%BF%AB%E9%97%AE.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.ttbbss.com" title="手游天堂"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%89%8B%E6%B8%B8%E5%A4%A9%E5%A0%82.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有发号吧  -->

              <li><a target="_blank" href="http://www.72g.com/" title="72c"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/72c.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有尚手游 -->
              <li><a target="_blank" href="http://www.fpwap.com" title="飞鹏网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E9%A3%9E%E9%B9%8F%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有克拉互娱  -->
              <li><a target="_blank" href="http://www.syqnr.com/" title="圈内人"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%89%8B%E6%B8%B8%E5%9C%88%E5%86%85%E4%BA%BA.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有爱手游网 -->
              <li><a target="_blank" href="http://www.9669.com/" title="9669"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/9669.jpg" class="img-responsive" alt=""></a></li>



             


              <li><a target="_blank" href="http://tyouwang.com/" title="T游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/T%E6%B8%B8%E7%BD%91.jpg" class="img-responsive" alt="T游"></a></li>

              <li><a target="_blank" href="http://game.cnrjoy.com/" title="央广游戏"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%A4%AE%E5%B9%BF%E6%B8%B8%E6%88%8F.jpg" class="img-responsive" alt="央广游戏"></a></li>
              <!-- 没有 欢乐人 808sy -->
              <li><a target="_blank" href="http://www.yxzr.com/" title="游戏宅人"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E5%AE%85%E4%BA%BA.jpg" class="img-responsive" alt="游戏宅人"></a></li>
              <li><a target="_blank" href="http://www.anfan.com" title="安锋游戏"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%AE%89%E9%94%8B%E6%B8%B8%E6%88%8F.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.wemepi.com/" title="多多手游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%A4%9A%E5%A4%9A%E6%89%8B%E6%B8%B8.jpg" class="img-responsive" alt="多多手游"></a></li>

              <li><a target="_blank" href="http://sj.5qwan.com/" title="游戏王国"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E7%8E%8B%E5%9B%BD.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.bfyx.com" title="北方游戏网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%8C%97%E6%96%B9%E6%B8%B8%E6%88%8F%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.18touch.com" title="超好玩"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E8%B6%85%E5%A5%BD%E7%8E%A9.jpg" class="img-responsive" alt=""></a></li>              

              <li><a target="_blank" href="http://www.pipaw.com" title="琵琶网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E7%90%B5%E7%90%B6%E7%BD%91.jpg" class="img-responsive" alt="琵琶网"></a></li>              

              <li><a target="_blank" href="http://www.357.com" title="357游戏网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/357%E6%B8%B8%E6%88%8F%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有游戏坛子 -->

             <li><a target="_blank" href="http://m.4q5q.com/index.html" title="4q5q游戏网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.cuudoo.com" title="酷嘟网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E9%85%B7%E5%98%9F%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>             

              <li><a target="_blank" href="http://www.candou.com" title="蚕豆网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E8%9A%95%E8%B1%86%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>

              <!-- 没有酷候  -->

              <!-- 没有淘手游 -->

              <li><a target="_blank" href="http://www.replays.net/" title="锐派游戏"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E9%94%90%E6%B4%BE%E6%B8%B8%E6%88%8F.jpg" class="img-responsive" alt=""></a></li>

              <li><a target="_blank" href="http://www.23.com/" title="玩手游上23"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E7%8E%A9%E6%89%8B%E6%B8%B8%E4%B8%8A23.jpg" class="img-responsive" alt=""></a></li>




<!-- 
              <li><a target="_blank" href="http://www.8477.com/" title="8477"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/8477.jpg" class="img-responsive" alt=""></a></li>


              <li><a target="_blank" href="http://www.hao76.com/" title="hao76"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/hao76.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.uuu9.com/yoyokaxiang/" title="YOYO卡箱"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/YOYO%E5%8D%A1%E7%AE%B1.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.appgame.com/" title="任玩堂"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E4%BB%BB%E7%8E%A9%E5%A0%82.jpg" class="img-responsive" alt=""></a></li>
 




              <li><a target="_blank" href="http://www.duouoo.com" title="多游网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E5%A4%9A%E6%B8%B8%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>





              <li><a target="_blank" href="http://www.soyohui.com/" title="手游汇"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%89%8B%E6%B8%B8%E6%B1%87.jpg" class="img-responsive" alt=""></a></li>




              <li><a target="_blank" href="http://www.750880.com/" title="欢乐人"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%AC%A2%E4%B9%90%E4%BA%BA.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.youxike.com/" title="游戏客"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E5%AE%A2.jpg" class="img-responsive" alt=""></a></li>
              
              <li><a target="_blank" href="http://www.gk99.com" title="游戏港口"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E6%B8%B8%E6%88%8F%E6%B8%AF%E5%8F%A3.jpg" class="img-responsive" alt=""></a></li>
 

              <li><a target="_blank" href="http://www.aisoyo.cn" title="爱手游"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E7%88%B1%E6%89%8B%E6%B8%B8.jpg" class="img-responsive" alt=""></a></li>
              <li><a target="_blank" href="http://www.wan361.com/index.html" title="爱玩网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E7%88%B1%E7%8E%A9%E7%BD%91.jpg" class="img-responsive" alt=""></a></li>


 
              <li><a target="_blank" href="http://www.guanyour.com/" title="观游网"><img src="http://7u2tgb.com2.z0.glb.qiniucdn.com/%E8%A7%82%E6%B8%B8%E7%BD%91.jpg" class="img-responsive" alt=""></a></li> -->




        
            </ul>
         </div>

         {% include 'wanshua.tv/1.0/template-parts/footer-main.php' %}

      </div>

    </div>

{% endblock %}


