/* ::::: http://www.huiyihuiying.com/static/css/base.css ::::: */

body { font-family: "Microsoft YaHei"; }
* { padding: 0px; margin: 0px; }
a { text-decoration: none; }
li { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
.clearfix::after { content: "."; height: 0px; display: block; clear: both; visibility: hidden; }
.clearfix {  }
.wid { max-width: 1000px; margin: 0px auto; }
/* ::::: http://www.huiyihuiying.com/static/css/pc.css ::::: */

header { width: 100%; }
.head .logo { float: left; padding-top: 41px; padding-bottom: 16px; padding-left: 95px; }
.head .logo h1 {  }
.head .logo h1 img { width: 204px; }
.nav { display: none; }
.head nav { padding-top: 42px; float: right; padding-right: 98px; }
.head nav ol { padding-top: 18px; float: right; width: 100%; }
.head nav ol li { margin-left: 22px; float: right; position: relative; z-index: 99; }
.head nav ol li a { color: rgb(30, 30, 30); font-size: 18px; }
.head nav ol li div { background: rgb(43, 220, 228) none repeat scroll 0% 0%; position: absolute; left: 0px; width: 100%; display: none; }
.head nav ol li div a { color: rgb(255, 255, 255); font-size: 14px; display: block; text-align: center; line-height: 2em; }
.head nav ol li:hover div { display: block; }
.banner { width: 100%; background: transparent url(../images/tu_02.png) no-repeat scroll center top / cover ; }
.banner .xbanner { padding-top: 61px; padding-bottom: 56px; }
.banner .xbanner .denglu { width: 308px; height: 286px; background: rgba(57, 58, 61, 0.9) none repeat scroll 0% 0%; border-top-left-radius: 8px; border-top-right-radius: 8px; text-align: center; position: relative; margin-left: 51px; }
.banner .xbanner .denglu img { padding-top: 14px; width: 48px; }
.banner .xbanner .denglu .dl { width: 77.4%; margin: 0px auto; }
.banner .xbanner .denglu .dl input.ipt1 { width: 96.6%; height: 33px; background: rgba(42, 42, 43, 0.5) none repeat scroll 0% 0%; border: 1px solid rgb(55, 57, 57); font-size: 14px; color: rgb(135, 138, 140); margin-top: 13px; padding-left: 3.4%; }
.banner .xbanner .denglu .dl input.ipt2 { width: 100%; height: 33px; background: rgb(45, 221, 229) none repeat scroll 0% 0%; border: 1px solid rgb(45, 221, 229); font-size: 14px; color: rgb(250, 252, 254); margin-top: 12px; }
.banner .xbanner .denglu .zc { width: 100%; height: 48px; background: rgba(34, 35, 37, 0.5) none repeat scroll 0% 0%; position: absolute; bottom: 0px; }
.banner .xbanner .denglu .zc ul { height: 48px; line-height: 48px; width: 100%; }
.banner .xbanner .denglu .zc ul li { float: left; width: 42.4%; }
.banner .xbanner .denglu .zc ul li a { color: rgb(134, 134, 134); font-size: 12px; display: block; padding-left: 28%; }
.banner .xbanner .denglu .zc ul li a.zh { background: transparent url('denglu_02.png') no-repeat scroll 28% center; }
.banner .xbanner .denglu .zc ul li a.xyh { background: transparent url('denglu_03.png') no-repeat scroll 28% center; }
.hzzs ul li { float: left; width: 25%; }
.hzzs ul li img { width: 167px; margin-top: 65px; border-radius: 50%; margin-left: 18%; }
.hzzs ul li strong { display: block; font-size: 12px; padding-top: 33px; padding-bottom: 9px; padding-left: 18%; }
.hzzs ul li span { display: block; font-size: 12px; line-height: 18px; padding-left: 18%; }
.hzzs ul li a { font-size: 12px; color: rgb(249, 72, 122); padding-top: 7px; display: block; padding-left: 18%; }
.zxyp { width: 100%; background: rgb(255, 249, 93) none repeat scroll 0% 0%; padding-bottom: 45px; margin-top: 56px; }
.zxyp_l { width: 50%; float: left; }
.zxyp_l h2 { font-size: 40px; padding-top: 90px; padding-bottom: 20px; padding-left: 35%; }
.zxyp_l p { font-size: 22px; line-height: 44px; width: 67%; margin-left: 21%; }
.zxyp_r { float: right; width: 50%; padding-top: 62px; text-align: center; }
.zxyp_r img { width: 293px; }
.sjsd { margin-bottom: 34px; }
.sjsd a { display: block; width: 139px; height: 30px; border: 2px solid rgb(42, 47, 61); text-align: center; line-height: 30px; font-size: 18px; color: rgb(41, 46, 60); margin: 44px auto 19px; }
.sjsd p { font-size: 22px; font-weight: 900; text-align: center; background: transparent url('sj_01.png') no-repeat scroll center bottom; padding-bottom: 18px; color: rgb(41, 46, 60); }
.sjsd ul { width: 275px; margin: 0px auto; padding-top: 9px; }
.sjsd ul li { font-size: 12px; padding-left: 20px; background: transparent url('sj_02.png') no-repeat scroll left center; line-height: 20px; }
.sjsd h2 { font-size: 34px; text-align: center; color: rgb(40, 45, 59); padding-top: 27px; padding-bottom: 36px; }
.sjsd img { width: 802px; padding-left: 95px; }
.hyxf { background: rgb(222, 227, 233) none repeat scroll 0% 0%; width: 100%; position: relative; }
.hyxf_cons { width: 100%; }
.hyxf_cons div { width: 139px; height: 30px; margin: 0px auto; padding-top: 50px; padding-bottom: 20px; }
.hyxf_cons div a { display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 18px; color: rgb(41, 46, 60); border: 2px solid rgb(42, 47, 61); }
.hyxf_cons h2 { font-size: 22px; text-align: center; background: transparent url('sj_01.png') no-repeat scroll center bottom; padding-bottom: 18px; color: rgb(41, 46, 60); }
.hyxf_cons p { text-align: center; font-size: 14px; padding-top: 6px; line-height: 19px; }
.hyxf_conx { padding-bottom: 50px; width: 90%; margin: 0px auto; }
.hyxf_conx ul { margin-top: 40px; }
.hyxf_conx ul li { width: 33%; float: left; text-align: center; }
.hyxf_conx ul li img { width: 253px; border-radius: 50%; }
.hyxf_conx ul .hui img { opacity: 0.5; }
.hyxf_conx div h2 { font-size: 28px; color: rgb(40, 45, 59); text-align: center; padding-bottom: 32px; padding-top: 40px; }
.hyxf_conx div h2 span { font-size: 14px; font-weight: normal; padding-left: 16px; }
.hyxf_conx div p { font-size: 16px; color: rgb(40, 45, 59); line-height: 20px; height: 80px; }
.hyxf .anniu { position: absolute; top: 350px; left: 50%; margin-left: -500px; width: 1000px; }
.hyxf .anniu .an_left { float: left; }
.hyxf .anniu .an_right { float: right; }
.wlyd { margin-top: 77px; }
.wlyd ul { width: 812px; margin: 0px auto; }
.wlyd ul li { float: left; width: 25%; height: 204px; }
.wlyd ul li.yd_yellow { background: rgb(255, 249, 93) none repeat scroll 0% 0%; }
.wlyd ul li.yd_green { background: rgb(219, 255, 93) none repeat scroll 0% 0%; }
.wlyd ul li img { width: 203px; height: 204px; }
.wlyd ul li strong { font-size: 16px; color: rgb(30, 30, 30); display: block; padding-left: 20px; padding-top: 36px; padding-bottom: 6px; }
.wlyd ul li span { display: block; font-size: 12px; color: rgb(30, 30, 30); padding-left: 20px; padding-right: 55px; line-height: 20px; }
.hzlc .hzlc_top { width: 139px; height: 30px; margin: 0px auto; padding-top: 75px; padding-bottom: 20px; }
.hzlc .hzlc_top a { display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 18px; color: rgb(41, 46, 60); border: 2px solid rgb(42, 47, 61); }
.hzlc h2 { font-size: 22px; text-align: center; background: transparent url('sj_01.png') no-repeat scroll center bottom; padding-bottom: 18px; color: rgb(41, 46, 60); }
.hzlc p { text-align: center; font-size: 14px; padding-top: 5px; line-height: 20px; }
.hzlc .hzlc_tu { width: 100%; margin: 34px auto 59px; }
.hzlc .hzlc_tu img { width: 748px; padding-left: 133px; }
.wxyy { background: rgb(222, 227, 233) none repeat scroll 0% 0%; width: 100%; }
.wxyy .wxyy_con {  }
.wxyy_con .wxyy_top { width: 139px; height: 30px; margin: 0px auto; padding-top: 37px; padding-bottom: 20px; }
.wxyy_con .wxyy_top a { display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 18px; color: rgb(41, 46, 60); border: 2px solid rgb(42, 47, 61); }
.wxyy_con h2 { font-size: 22px; text-align: center; background: transparent url('hyxf_03.png') no-repeat scroll center bottom; padding-bottom: 18px; color: rgb(41, 46, 60); }
.wxyy_con p { text-align: center; font-size: 14px; padding-top: 5px; line-height: 20px; }
.wxyy_con ul { margin-top: 70px; padding-bottom: 75px; }
.wxyy_con ul li { width: 37.5%; float: left; }
.wxyy_con ul li.dandu { width: 25%; }
.wxyy_con ul span { color: rgb(40, 45, 59); font-size: 12px; display: block; line-height: 15px; }
.wxyy_con ul img { padding-top: 30px; }
.map { width: 100%; }
.map img { width: 100%; }
footer { width: 100%; background: rgb(40, 45, 59) none repeat scroll 0% 0%; }
.foot { padding-bottom: 82px; }
.foot .foot_left { float: left; width: 158px; margin-top: 104px; margin-left: 68px; }
.foot .foot_left img { width: 158px; }
.foot .foot_right { float: left; margin-top: 102px; }
.foot .foot_right h2 { font-size: 34px; color: rgb(27, 219, 226); padding-left: 70px; padding-bottom: 10px; }
.foot .foot_right div ul { float: left; padding-left: 60px; }
.foot .foot_right div ul li { line-height: 30px; font-size: 14px; color: rgb(220, 220, 220); }
/* ::::: http://www.huiyihuiying.com/static/css/app.css ::::: */

