<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--定义类型别名-->
    <aliases>
      <add alias="ITask" type="Cytel.Cloud.DataInteractiveService.BizIF.ITask,Cytel.Cloud.DataInteractiveService.BizIF" />
      <add alias="ShangHai" type="Cytel.Cloud.DataInteractiveService.SH.BTask,Cytel.Cloud.DataInteractiveService.SH" />
      <add alias="HangZhou" type="Cytel.Cloud.DataInteractiveService.HZ.BTask,Cytel.Cloud.DataInteractiveService.HZ" />
    </aliases>
    <container>
      <!--映射关系-->
      <!--register type="full class name,namespace"-->
      <register type="ITask" mapTo="HangZhou">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service" maxReceivedMessageSize="1073741824" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Cytel.Cloud.DataInteractiveService.Service.DataService" behaviorConfiguration="WCFBasicHttpBinding.Service1Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9100/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="webHttpBinding" contract="Cytel.Cloud.DataInteractiveService.Contract.IDataService" behaviorConfiguration="webBehavior">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:9100/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFBasicHttpBinding.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings> 
    <!--业务请求URL-->
    <add key="PostURL" value="https://115.238.43.206:3631/api/v1/parks"/>
  </appSettings>
</configuration>
